<div class="list-container">
  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
  </div>

  <div *ngIf="error" class="error-message">
    <i class="fas fa-exclamation-circle"></i>
    {{ error }}
  </div>

  <!-- Filtros -->
  <div class="filters-section filters-toolbar">
    <button
      (click)="onOpenModal()"
      class="brand-text-2">Agregar Registros</button>

    <input
      type="text"
      [(ngModel)]="filters.name"
      (input)="applyFilters()"
      placeholder="Buscar Nombre"
    />
  </div>

  <!-- Tabla -->
  <table *ngIf="!loading && !error && filteredLocations.length > 0" class="factor-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Empresa</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Latitud</th>
      <th>Longitud</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hs of filteredLocations">
      <td>{{ hs.id }}</td>
      <td>{{ hs.companyId }}</td>
      <td>{{ hs.name }}</td>
      <td>{{ hs.description || 'Sin descripción' }}</td>
      <td>{{ hs.latitude }}</td>
      <td>{{ hs.longitude }}</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && !error && filteredLocations.length === 0 && locations.length > 0" class="no-users">
    <i class="fas fa-search-minus"></i>
    <p>No se encontraron resultados que coincidan con los filtros.</p>
  </div>

  <!-- Paginación -->
  <div *ngIf="totalPages > 1" class="pagination">
    <button class="page-btn" [disabled]="currentPage === 1" (click)="previousPage()">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button *ngFor="let page of pages"
            class="page-btn"
            [class.active]="page === currentPage"
            (click)="updatePage(page)">
      {{ page }}
    </button>
    <button class="page-btn" [disabled]="currentPage === totalPages" (click)="nextPage()">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div *ngIf="!loading && !error && locations.length === 0" class="no-users">
    <i class="fas fa-users-slash"></i>
    <p>No hay datos disponibles.</p>
  </div>
</div>
<app-modal-panel-3
  *ngIf="isModalVisible"
  (closeModal)="onCloseModal()"
>

</app-modal-panel-3>
