<div class="container">
  <div class="column-middle">
    <div class="table">
      <div>
        <img class="logo" src="./assets/images/logo.webp" />
        <h1 class="title-map-explorer">360 Map explorer</h1>
      </div>

      <!-- Loader local dentro del form -->
      <div *ngIf="isLoading" class="local-loader">
        <!-- Aquí pones un spinner o mensaje -->
        <p>Cargando...</p>
      </div>

      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
          <label class="text-body">Email</label>
          <input
            class="type"
            type="email"
            [(ngModel)]="email"
            name="email"
            [class.input-error]="messageType === 'error'"
            placeholder="ejemplo@email.com"
            required
            email
            [disabled]="isLoading"
          />
        </div>
        <div class="form-group">
          <label class="text-body">Password</label>
          <input
            class="type"
            type="password"
            [(ngModel)]="password"
            name="password"
            [class.input-error]="messageType === 'error'"
            placeholder="••••••••"
            required
            [disabled]="isLoading"
          />
        </div>
        <div
          *ngIf="message"
          [ngClass]="{
            'message-error': messageType === 'error',
            'message-success': messageType === 'success'
          }"
          class="row-family"
        >
          <i
            *ngIf="messageType === 'error'"
            class="fas fa-exclamation-circle"
          ></i>
          <i *ngIf="messageType === 'success'" class="fas fa-check-circle"></i>
          {{ message }}
        </div>

        <button
          class="button"
          type="submit"
          [disabled]="isLoading || !email || !password"
          [class.button-loading]="isLoading"
        >
          <span *ngIf="!isLoading">Login</span>
          <span *ngIf="isLoading">Ingresando...</span>
        </button>
      </form>
    </div>
  </div>
</div>
