<div class="user-actions-2">
<button class="action-button-2" (click)="onUpload()">
  <span *ngIf="isExpanded" class="icon-upload-2"></span>
  <span *ngIf="isExpanded">Importar csv</span>
</button>
</div>
<div class="user-actions">
  <button  (click)="onUpload()" class="action-button" >
    <span *ngIf="isExpanded" class="icon-upload"></span>
    <span *ngIf="isExpanded">Upload</span>
  </button>
  <button (click)="onLogout()" class="action-button logout">
    <span *ngIf="isExpanded" class="icon-logout"></span>
    <span *ngIf="isExpanded">Logout</span>
  </button>
</div>
