<div class="sidebar-content">
  <!-- Info de usuario -->

  <!-- Buscador -->
  <div class="search-container">
    <span class="search-icon"></span>
    <input  *ngIf="isExpanded" type="text" placeholder="Buscador..." class="search-input">
  </div>

  <!-- Elementos del menú -->
  <div class="menu-section">
    <div class="menu-item" *ngFor="let location of locations" (click)="onLocationClick(location.id)" >
      <mat-icon>location_on</mat-icon>
      <span class="text" *ngIf="isExpanded">{{ location.name }}</span>
      <span class="text" *ngIf="isExpanded">{{ location.id }}</span>
      <span class="menu-options" *ngIf="isExpanded">⋮</span>
    </div>
  </div>

  <!-- Logo en la parte inferior -->
  <div class="logo-container">
    <img  src="./assets/images/logo.webp" alt="LPS Grupo" class="logo" *ngIf="isExpanded">

  </div>
</div>
