.map-container {
  position: absolute;
  top: 0;
  left: 18em;
  right: 0;
  bottom: 0;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}
#map.hidden {
  display: none;
  /* O alternativa mejor para animaciones: */
  /* opacity: 0;
     pointer-events: none;
     visibility: hidden; */
}
