.sidebar {
  height: 100%;
  transition: width 0.3s ease;
  background-color: #16161e;
  color: white;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.expanded {
  width: 250px;
}

.collapsed {
  width: 60px;
}



.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
}

.user-info {
  padding: 10px 15px;
  border-bottom: 1px solid #242430;
}

.user-email {
  font-size: 12px;
  color: #a0a0a0;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




/* Estilo específico para cuando la barra está colapsada */
.collapsed .text,
.collapsed .user-email,
.collapsed .search-input {
  display: none;
}

.collapsed .menu-options {
  display: none;
}

.collapsed .search-container {
  justify-content: center;
  padding: 8px;
}

.collapsed .action-button {
  padding: 5px 0;
  justify-content: center;
}
